<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мемы</title>
</head>
<body>
<table border="1px">
    <caption>
        Memes
    </caption>
    <tr>
        <th>_________name_________</th>
        <th>_________color_________</th>
        <th>_________age_________</th>
    </tr>
    {% for name in list_of_memes %}
        <tr>
            <td>{{ name.name }}</td>
            <td>{{ name.color }}</td>
            <td>{{ name.age }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>